.board {
  background: #20252d;
  border-radius: 1rem;
  border-left: 1rem solid #00bfaa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  transition: black .3s cubic-bezier(.175,.885,.32,1.275)
}
